<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Address Book</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.bvrit.addressbook.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeView</display-name>
    <servlet-name>WelcomeView</servlet-name>
    <servlet-class>com.bvrit.addressbook.view.WelcomeView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeView</servlet-name>
    <url-pattern>/welcomeView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.bvrit.addressbook.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ECEView</display-name>
    <servlet-name>ECEView</servlet-name>
    <servlet-class>com.bvrit.addressbook.view.ECEView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ECEView</servlet-name>
    <url-pattern>/ECEView.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CSEView</display-name>
    <servlet-name>CSEView</servlet-name>
    <servlet-class>com.bvrit.addressbook.view.CSEView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSEView</servlet-name>
    <url-pattern>/CSEView.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EEEView</display-name>
    <servlet-name>EEEView</servlet-name>
    <servlet-class>com.bvrit.addressbook.view.EEEView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EEEView</servlet-name>
    <url-pattern>/EEEView.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ITView</display-name>
    <servlet-name>ITView</servlet-name>
    <servlet-class>com.bvrit.addressbook.view.ITView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ITView</servlet-name>
    <url-pattern>/ITView.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpController</display-name>
    <servlet-name>SignUpController</servlet-name>
    <servlet-class>com.bvrit.addressbook.controller.SignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpController</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateContactController</display-name>
    <servlet-name>CreateContactController</servlet-name>
    <servlet-class>com.bvrit.addressbook.controller.CreateContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateContactController</servlet-name>
    <url-pattern>/createContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateController</display-name>
    <servlet-name>UpdateController</servlet-name>
    <servlet-class>com.bvrit.addressbook.controller.UpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateController</servlet-name>
    <url-pattern>/updateContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteController</display-name>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>com.bvrit.addressbook.controller.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/deleteContact</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoggingFilter</display-name>
    <filter-name>LoggingFilter</filter-name>
    <filter-class>com.bvrit.addressbook.filter.LoggingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoggingFilter</filter-name>
    <url-pattern>*.view</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>UserLoginCheckFilter</display-name>
    <filter-name>UserLoginCheckFilter</filter-name>
    <filter-class>com.bvrit.addressbook.filter.UserLoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserLoginCheckFilter</filter-name>
    <url-pattern>*.view</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Cse</display-name>
    <servlet-name>Cse</servlet-name>
    <servlet-class>com.bvrit.addressbook.view.Cse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cse</servlet-name>
    <url-pattern>/Cse</url-pattern>
  </servlet-mapping>
</web-app>